---
import "@fortawesome/fontawesome-svg-core/styles.css";
import "@fontsource/bangers/400.css";
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/josefin-sans/100.css";
import "@fontsource/josefin-sans/300.css";
import "@fontsource/josefin-sans/400.css";
import BaseHeader from "@components/BaseHeader.vue";
import FlashyBg from "@components/FlashyBg.vue";
import MainMenu from "@components/MainMenu.vue";
import BreadCrumbs from "@components/BreadCrumbs.vue";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="INDOMASCOT melayani pembuatan kostum badut maskot untuk branding produk atau instansi anda dengan desain dari anda sendiri. (WA 0822-2155-6633)"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <BaseHeader client:only="vue" />
    <FlashyBg />
    <main>
      <BreadCrumbs mainBemClass="breadcrumbs" />
      <slot />
    </main>
    <MainMenu client:only="vue" />
  </body>
</html>

<style lang="scss" is:global>
  $indomascot-yellow: #e59700;
  $table-is-striped: false;
  $indomascot-blue: #0033cc;
  $indomascot-old-blue: #003399;
  $whatsapp-green: #25d366;
  $whatsapp-old-green: #128c7e;
  $bca: #4000a1;
  $mandiri: #003066;
  $bni: #f05921;
  $bri: #00529c;
  $full-white: #ffffff;
</style>
